# CLion and JetBrains IDE files
.idea/

# CMake build directories
cmake-build-debug/
cmake-build-release/

# CMake configuration files (اختياري)
CMakeLists.txt
CMakeCache.txt
CMakeFiles/
*.iml
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
MAzen project/
x64/
